#board {
  width: 100%;
}
.bottomSummary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#board, .bottomSummary {
  .boardRow, .spacesSummary, .boardRow, .boardSpace {
    &:nth-child(1) {
      .boardSpace:before, .spaceSummaryInner, &:after {
        background: var(--row-one-primary);
      }
    }
    &:nth-child(2) {
      .boardSpace:before, .spaceSummaryInner, &:after {
        background: var(--row-two-primary);
      }
    }
    &:nth-child(3) {
      .boardSpace:before, .spaceSummaryInner, &:after {
        background: var(--row-three-primary);
      }
    }
    &:nth-child(4) {
      .boardSpace:before, .spaceSummaryInner, &:after {
        background: var(--row-four-primary);
      }
    }
    &:nth-child(5) {
      .boardSpace:before, .spaceSummaryInner, &:after {
        background: var(--row-five-primary);
      }
    }
  }
}