.space {
  height: 8em;
  width: 8em;
  padding: 0.6em;

  .spaceBorder {
    border: 0.4em solid #fff;
    border-radius: 0.2em;
    height: 6.8em;
    width: 6.8em;
    position: relative;
    z-index: 20;
  }

  .spaceInner, .spaceFront, .spaceBack {
    width: 100%;
    height: 100%;
  }

  .spaceInner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    
    .spaceFront, .spaceBack {
      backface-visibility: hidden;
      position: absolute;
      top: 0px;
      height: 6em;
      width: 6em;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .spaceFront {
      position: relative;
      background-image: url('../images/card_bg.svg');
      background-size: cover;
      transform: rotateY(0deg);
      z-index: 2;

      .boardSpaceMarker {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5em;
        height: 1.5em;
        font-size: 1.2em;
        font-weight: 700;
        color: #ffda35;
        img {
          width: 100%;
        }
        // Voltorb
        &.marker_0 {
          top: 2px;
          left: 2px;
        }
        &.marker_1 {
          top: 2px;
          right: 2px;
        }
        &.marker_2 {
          bottom: 2px;
          left: 2px;
        }
        &.marker_3 {
          bottom: 2px;
          right: 2px;
        }
      }
    }

    .spaceBack {
      background: #b88783;
      border: 0.2em solid #925253;
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;


      .spaceMultiplier {
        font-size: 2.8em;
        font-weight: 700;
        color: #3d1714;
      }

      .spaceVoltorb {
        img {
          width: 4em;
        }
      }
    }
  }

  &.flipped {
    .spaceInner {
      transform: rotateY(180deg);
    }
  }

  &.hidden {
    .spaceInner {
      cursor: pointer;
    }
  }
}

.boardSpace {
  position: relative;
  &:before {
    content: '';
    width: 1.8em;
    height: 1em;
    border-top: 0.4em solid #fff;
    border-bottom: 0.4em solid #fff;
    position: absolute;
    right: -0.9em;
    top: 3.1em;
  }
  &:after {
    content: '';
    width: 1em;
    height: 1.8em;
    border-left: 0.4em solid #fff;
    border-right: 0.4em solid #fff;
    position: absolute;
    bottom: -0.9em;
    left: 3.1em;
  }
}