.btn {
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;

  &.btn-primary {
    background: #188060;
    color: #fff;
    &:hover {
      background: #1b6e55;
    }
  }
  &.btn-default {
    background: #444;
    color: #fff;
    &:hover {
      background: rgb(58, 58, 58);
    }
  }
}