.btn {
  border: none;
  border-radius: 0.4em;
  padding: 0.4em 0.8em;
  font-size: 1.2em;
  cursor: pointer;

  &.btn-primary {
    background: #188060;
    color: #fff;
    &:hover {
      background: #1b6e55;
    }
  }
  &.btn-secondary {
    background: #3567e0;
    color: #fff;
    border: 0.2em solid #3f4040;
    &:hover {
      background: #305ecc;
    }
  }
  &.btn-default {
    background: #444;
    color: #fff;
    &:hover {
      background: rgb(58, 58, 58);
    }
  }
}