.btn {
  border: none;
  border-radius: 0.4em;
  padding: 0.4em 0.8em;
  font-size: 1.2em;
  cursor: pointer;

  &.btn-primary {
    background: var(--button-primary-bg);
    color: var(--button-secondary-text);
    &:hover {
      background: var(--button-primary-bg-hover);
    }
  }
  &.btn-secondary {
    background: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    border: 0.2em solid var(--button-secondary-border);
    &:hover {
      background: var(--button-secondary-bg-hover);
    }
  }
  &.btn-default {
    background: var(--button-default-bg);
    color: var(--button-default-text);
    &:hover {
      background: var(--button-default-bg-hover);
    }
  }
}