.voltorbFlip {
  display: flex;
  justify-content: center;
  .board {
    flex: 0 0 48rem;
  }
  .sidebar {
    flex: 0 0 20rem;
    padding: 0.6rem 0.4rem;
    display: flex;
    flex-direction: column;

    .details {
      flex: 1;
    }

    .actions {
      flex: 0 1;
      .btn {
        width: 100%;
      }
    }
  }
}

.boardArea {
  position: relative;
}