@import './variables';

.voltorbFlip {
  .boardArea {
    position: relative;
  }
}

// Mobile devices and ipads in portrait
@media screen and (orientation:portrait) and (max-width: 1023px) {
  .voltorbFlip {
    .boardArea {
      font-size: 2vw;
    }
  }
}

// Generic landscape device including mobile and tablet
@media screen and (orientation:landscape) and (max-width: 1024px) {
  .voltorbFlip {
    display: flex;
    .boardArea {
      font-size: 2vh;
      flex: 1;
    }
  }
}

// Long thin mobile device specific queries
@media screen and (orientation:landscape) and (min-width: 720px) and (max-width: 900px) {
  .voltorbFlip {
    .boardArea {
      margin: 0 6em;
    }
  }
}

// Desktop
@media screen and (min-width: 1024px) {
  .voltorbFlip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .boardArea {
      font-size: initial;
    }
    #board {
      flex: 0 0 48em;
    }
  }
}