.gameDifficulty {
  background: var(--primary-bg-darker);
  color: #fff;
  padding: 1em 0.8em;
  border-radius: 0.4em;
  margin-bottom: 0.4em;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 1.9em;
  }
}